{% extends "layout.html" %}
{% block content %}
<style>
.one {
    width: 1000px;
    float: left;
    height: 80%;
  }

  .two {
      margin-left: 1000px;
      height: 100%;
    }

</style>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<body>
  <div>
      <div class="one">
          <form action="" method="post" novalidate>
              {{ form.hidden_tag() }}
              <p>
                  {{ wtf.quick_form(form)}}
              </p>
          </form>


          <button id="send_data">Process with Atommap</button>
          </div>

      <div  class = "two">

        <div id="map" ></div>
      </div>


  </div>

</body>

    <script>
    var image = "{{ image.image}}";
    var data = {{ data|  tojson}};
    var getUrl = window.location;
    var baseUrl = getUrl.protocol + "//" + getUrl.host + "/"
    image  = baseUrl + image
    </script>

    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='javascript/atom_map_initial.js') }}"></script>
    <script>
      console.log(dist)

    	//this sends data via "post" back to app.py
      $(document).ready(function () {
          $("#send_data").on("click", function() {

              window.location.href = '/first_sublattice/'+dist;
          });
      });
    </script>
{% endblock %}
