{% extends "layout.html" %}
{% block content %}

<style>

.one {
  width: 800px;
  float: left;
  height: 80%;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  }

.two {
  width: 500px;
  height: 100%;
  margin-left: 810px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#inner {
  width: 50%;
  margin: 0 auto;

.three {
  position: relative;
  float: right;
}

</style>
<body>
        <div>
            <div class="one">
              <form action="" method="post" novalidate>
                  {{ form.hidden_tag() }}
                  <p>
                      {{ wtf.quick_form(form)}}
                  </p>
              </form>
              <div>
                  <div id="line_chart"></div>
              </div>
            </div>
            <div class = "two">
                <div id="inner">
                  <p>Select Zone</p>
                    <select id="selectPlaneSublattice"></select> <br>
                  <p>Select Feature</p>
                    <select id="selectFeature"></select> <br>
                  <p>Select Zones to View</p>
                    <select multiple id="multiSelectPlane"></select>
                  <p>Lowest Number</p>
                    <input type="text" value="white" id="colorpicker1">
                  <p>Highest Number</p>
                    <input type="text" value="blue" id="colorpicker2">
                  <a href="{{ url_for('download', filename="downloadFile.txt") }}">Download File</a>
                  <p> Use <a href="https://nytimes.github.io/svg-crowbar/">SVG Crowbar</a> to download svg image (use 1 for scale image)</p>

                </div>
                <div id="map" >

                </div>
            </div>
          </div>
</body>

    <script>

      var image = "{{ image.image}}";
      var data = {{ data|  tojson}};
      var zone_all = {{ tables.all_zones| tojson }};
      var getUrl = window.location;
      var baseUrl = getUrl.protocol + "//" + getUrl.host + "/"
      image  = baseUrl + image
      var sublattice_all = {{ tables.all_sublattices| tojson }};
    </script>

    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='javascript/line_chart.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='javascript/line_chart_avg_dev.js') }}"></script> -->

    <script type="text/javascript" src="{{ url_for('static', filename='javascript/atom_map.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='javascript/datatable.js') }}"></script> -->


{% endblock %}
