<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="/static/jquery/jquery.min.js" type="text/javascript"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <!-- <header>
      <div class="container">
        <h1 class="logo">TEMWizard</h1>
        <strong><nav>
          <ul class="menu">
            <li></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% extends "bootstrap/base.html" %}
      {% import "bootstrap/wtf.html" as wtf %}
      {% block head %}
      {{ super() }}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div> -->
  </body>

</html>
